header {
	height: 110px;
	background-color: #4C4C4C;
}

caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #4C4C4C;
	text-align: left;
	background-color: #c0c0c0;
	border: 1px solid #D2D2D2;
	padding-left: 10px;
	border-radius: 10px 10px 0px 0px;
}

#logo-texto{
        width:193px;
        height:30px;  
	color: white;
        text-align: center;
        margin-left:128px;
        margin-top: -6px;
}

@media (min-width: 400px) {
	#section-login{
		width: 400px;
		margin: 0 auto;
	}
}
@media (max-height: 580px) {
	footer{
		display: none;
	}
}

#titulo-TelaLogin{
	margin-left: 20px;
	color: white;
	display: inline-block;
	margin-top: 25px;
	vertical-align: middle;
	font-size: 20px;
	color:#717173;
        margin-left: 183px;
        margin-top: 66px;
}

#logo {
	width: 148px;
        height: 120px;
	display:inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	}

#botao {
	width:100px;
	margin-left: 300px;
	background-color: #EA7723;
	border-color: #F0974D;
}

#logo-listagem{
	margin-top: 15px;
        
}

#titulo-listagem{
	margin-top: 1px;
}


tr:hover td {
	background-color: #c0c0c0;
}

#descricao{
	height:80px;
}

#horas{
	text-align: right;
	font-weight:bold;
}


/** Estrutura */
html, body{
	height: 100%;
}

#fundo-login{
	display: block;
	min-height: 100%;
	margin-bottom: -110px;
}

footer{
	height: 110px;
	background-color: #4C4C4C;
}

#form-login{
	margin-top: 7%;

}

#header-listagem{
	margin-bottom: 15px;
}

.descricao_area {
	resize: none;
}


.editar_atividade{
	cursor:pointer;
}

/**
Passar para temas
*/
.botoes{
	background-color: #EA7723;
	border-color: #F0974D;
	color:#ffffff;
}

#logout{
        margin-left: 1056px;
        margin-top: 18px;
        width: 67px;
}

.logoTela_incial{
	background-image: url("/static/imagens/logo_ilegra.png");
        width: 158px;
        height: 121px;
        
}

h4{
    text-align:center;
}

.botao_logout{
	text-align: right;
        width: 1142px;
}

.logoIlegra_listagem{
    background-image: url("/static/imagens/ilegra.png");
    width:117px;;
    height:90px;
    margin-left: 239px;
    margin-right: 109px;
    margin-top: 12px;
}